autopep8==1.6.0
backcall==0.2.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.9
cloudscraper==1.2.58
debugpy==1.5.1
decorator==5.1.0
entrypoints==0.3
fake-useragent==0.1.11
filelock==3.4.2
idna==3.3
ipykernel==6.6.0
ipython==7.30.1
iso8601==1.0.2
jedi==0.18.1
jsoncodable==0.1.7
jsonpickle==2.0.0
jupyter-client==7.1.0
jupyter-core==4.9.1
kcu==0.0.73
kffmpeg==0.2.45
ksimpleapi==0.0.41
kstopit==0.0.10
m3u8==0.9.0
matplotlib-inline==0.1.3
nest-asyncio==1.5.4
noraise==0.0.16
numpy==1.22.0
pandas==1.3.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pycodestyle==2.8.0
Pygments==2.11.1
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
randomua==0.0.7
requests==2.26.0
requests-file==1.5.1
requests-toolbelt==0.9.1
simple-multiprocessing==0.0.15
six==1.16.0
soupsieve==2.3.1
stopit==1.1.2
tinydb==4.5.2
tldextract==3.1.2
toml==0.10.2
tornado==6.1
traitlets==5.1.1
urllib3==1.26.7
wcwidth==0.2.5
zillow==0.0.10
